<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Блог сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
  <div th:each="el : ${cake}" class="alert alert-info mt-2">
    <h3 th:text="${el.name}"/>
    <p th:text="${el.description}"/>
    <p th:text="${el.amount}"/>
    <p th:text="${el.price}"/>
    <img th:src="${el.fileName}" width="500" height="600"/>
    <br><br>
    <a th:href="'/myworks/add/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>

    <form th:action="'/myworks/add/' + ${el.id} + '/remove'" method="post">
      <br>
      <button class="btn btn-warning" type="submit">Удалить</button>
    </form>


  </div>

</div>

<header th:insert="blocks/footer :: footer"></header>

</body>
</html>