<div th:fragment="header">
    <section class="py-1 text-center container">
        <div class="d-flex flex-column flex-md-row align-items-center pb-0 mb-0 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

                <img src="/logo1.jpg" alt="Girl in a jacket" width="66" height="66">

                <span class="fs-4">Lex Baker</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/aboutme">Обо мне</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/myworks">Мои работы</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/contacts">Контакты</a>
            </nav>
        </div>
    </section>
</div>
